.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.marginTop {
    margin-top: 2rem;
}

.form {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}