.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.backbuttonLink {
    position: absolute;
    bottom: 2rem;
    width: 12rem;
    left: calc(50% - 5.5rem);
}

.noSelection {
    color: white;
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 6rem);
    font-size: 1.2rem;
}

.backbutton {
    width: 100%;
}

.container {
    background-color: var(--background);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 95vw;
    height: 95vh;
}
  