.player {
    display: flex;
    height: 1.5rem;
}

.role {
    text-transform: uppercase;
    width: 2rem;
    font-weight: bold;
}

.name {
    width: 10rem;
}

.vote {
    width: 3rem;
    text-align: center;
}

.tot {
    display: flex;
    width: 15rem;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
}

