.player {
  display: flex;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--backgroundDark);
}

.player:hover {
  background: var(--backgroundLighter);
}

.purchase {
  background: var(--backgroundLighter);
}

.filterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0rem;
}

.role {
  width: 2rem;
}

.team {
  width: 2rem;
}

.from {
  width: 6rem;
}

.bold {
  font-weight: bold;
}

.name {
  width: 10rem;
}

.value {
  width: 4rem;
  text-align: right;
}

.valueHeader {
  width: 4rem;
  text-align: center;
  font-weight: bold;
}

.players {
  height: calc(95vh - 16rem);
  overflow: auto;
}

@media only screen and (max-width: 470px) {
  .select {
    max-width: 5rem;
  }
  .input {
    max-width: 6rem;
  }
}
