.player {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.filterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.role {
  text-transform: uppercase;
  width: 2rem;
  font-weight: bold;
}

.team {
  width: 2rem;
}

.from {
  width: 8rem;
}

.bold {
  font-weight: bold;
}

.name {
  width: 12rem;
}

.value {
  width: 4rem;
  text-align: center;
}

.players {
  height: calc(95vh - 16rem);
  overflow: auto;
}

@media only screen and (max-width: 385px) {
  .players {
      height: calc(95vh - 19rem);
  }
}
