.outerContainer {
    width: 100vw;
    text-align: center;
    height: 100vh;
    position: fixed;
    overflow: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 520px) {
    .container {
        justify-content: flex-start;
    }
}
