.player {
    display: flex;
    height: 3.5rem;
    align-items: center;
}

.starter {
    background: var(--backgroundLighter);
    border-radius: 1rem;
}

.position {
    font-size: 1.3rem;
    background: var(--contrast);
    border-radius: 3rem;
    padding: 0.2rem;
    margin: 0.5rem;
}

.positionH {
    width: 5rem;
}

.role {
    width: 2rem;
}

.squad {
    font-size: 1.2rem;
    width: 14rem;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.name {
    width: 16rem;
}

.value {
    width: 4rem;
    text-align: center;
}

.players {
    height: calc(95vh - 16rem);
    overflow: auto;
}

@media only screen and (max-width: 385px) {
    .players {
        height: calc(95vh - 19rem);
    }
}
