.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.marginTop {
    margin-top: 2rem;
    text-align: center;
}

.center {
    text-align: center;
}

.form {
    margin: 1rem 1rem 2rem 1rem;
}

.tot {
    display: flex;
    width: 15rem;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}