.name {
  width: calc(100% - 1.4rem);
  padding: 1.4rem;
  text-align: center;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.5rem;
}

.label {
  font-size: 0.8rem;
  font-weight: bold;
}

.value {
  font-size: 1.2rem;
}

.row {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid;
  border-radius: 0.5rem;
  width: 3rem;
}