.outer {
    width: 100vw;
    max-width: 1100px;
    margin: auto;
}

.header {
    background-color: var(--backgroundLight);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: calc(100% - 2rem);
    height: 5rem;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mainContainer {
    width: 100%;
}

.container {
    background-color: var(--backgroundLight);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: calc(100% - 2rem);
    height: calc(95vh - 6rem);
    position: relative;
    margin: auto;
}

.containerNoHeader {
    background-color: var(--backgroundLight);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: calc(100% - 2rem);
    height: calc(95vh);
    position: relative;
    margin: auto;
    margin-top: 1rem;
}

.loader {
    height: 100%;
}
